<section>
    There are
    {{restaurants.length}}
    restaurants.
</section>
<section>
    {{#each restaurants}}
        <h4>{{name}}</h4>
        <p>{{location}}</p>
        <p>{{description}}</p>
    {{/each}}
</section>
